<%- include('includes/head') %>

    <section class="container">
        
        <h1>
            <%= titulo %> <!-- esse exibe exatamente o que você cololar, inclusive códigos html-->
            <!-- <%- titulo %> --> <!-- esse já escapa os caracteres, e executa o código html caso ele
            seja enviado em conjunto -->
        </h1>
        
        <!-- <h1>
            <% if(typeof titulo2 !== 'undefined') {%>
                <%= titulo2 %>
            <% }else{%>
                titulo2 não enviado
            <% }%>
        </h1> -->
        
        <!-- <h1>
            <% numeros.forEach(num=>{ %>
                <%= num %><br>
            <% }) %>
        </h1> -->

        <form action="/" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label >Cliente</label>
            <input type="text" name="cliente">
            <button type="submit"> Enviar</button>
        </form>
    </section>

    <%- include('includes/footer') %>