<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">

                    <h1 class="text-center">Agenda</h1>
                    <p class="text-center lead">Seus contatos estão abaixo</p>

                    <%- include('includes/messages') %>

                        <% if(contatos.length> 0) { %>
                            <div class="responsive-table my-3">
                                <table class="table">
                                    <tr>
                                        <td> Nome </td>
                                        <td> Sobrenome </td>
                                        <td> Telefone </td>
                                        <td> E-mail </td>
                                    </tr>
                                    <% contatos.forEach(contato=> { %>

                                        <tr>
                                            <td>
                                                <%= contato.nome %>
                                            </td>
                                            <td>
                                                <%= contato.sobrenome %>
                                            </td>
                                            <td>
                                                <%= contato.telefone %>
                                            </td>
                                            <td>
                                                <%=contato.email %>
                                            </td>
                                            <td><a href="/contato/index/<%= contato._id%>">Editar</a></td>
                                            <td><a href="/contato/delete/<%= contato._id%>" class="text-danger">
                                                    Excluir</a></td>
                                        </tr>

                                        <% }); %>
                                </table>
                            </div>
                        <% } else{%>
                            <p class="text-center lead">Não existem contatos na sua Agenda</p>
                        <% } %>

                </div>


                <div class="col-lg-2"></div>
            </div>
        </div>

        <%- include('includes/footer') %>